<div id="<%= id -%>" class="flash_s3-wrapper">
  <ol class="flash_s3-file_transfers"></ol>
  <span id="<%= button_id -%>" class="flash_s3-button"></span>
  <div class="flash_s3-start_button_wrapper"><a class="flash_s3-start_button" href="javascript:;"></a>
</div>
