<div id="<%= id -%>" class="flash_s3-wrapper">
  <span id="<%= button_id -%>" class="flash_s3-button"></span>
</div>

<%= javascript_tag do %>
  (function ($) {
    var swfu = new SWFUpload($.extend(<%= raw swf_upload_options_as_json -%>, {
      file_dialog_complete_handler: function () {
        this.startUpload();
      }
    }));
  })(jQuery);
<% end %>
